#maincitation{
    margin-top: 100px;
}
#random{
    margin-top: 100px;
    width: 60%;
    margin: auto;
    border: solid 3px grey;
    height: 500px;
    border-radius: 5px;
}
h1{
    text-align: center;
    padding-top: 50px;
}
#cit{
    font-size: 24px;
    font-family: sans-serif;
    margin: auto;
    width: 70%;
    height: 250px;
    padding: 50px 0px;
    text-align: center;
}
#auteur{
    font-size: 24px;
    font-family: sans-serif;
    margin: auto;
    text-align: center;
}
#btncitation{
    text-align: center;
    border-radius: 25px;
    padding: 5px;
    width: 150px;
    margin: auto;
    border: solid 2px rgb(189, 186, 186);
}
#btn:hover{
    background-color: rgb(189, 186, 186);
}