#ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

#section{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(173,41,41,1) 100%);
    height: 385px;
}

#album{
    width: 400px;
    height: 400px;
    border-radius: 30px;
}